@import "../variables.component.scss";

.pageHead {
  margin-top: 4.8em;

  .page-title {
    font-size: $headingFontSize;
    font-weight: $boldFontWeight;
    color: $primary-color;
    line-height: 1.1;
  }

  .faq {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid $Whitecolor;
  }
}

@media only screen and (max-width: 1024px) {
  .mobile_center {
    text-align: center;
  }

  .pageHead {
    margin-top: 6em;
  }
}

ul li {
  list-style-type: none;
}

// ol {
//   padding: 0px;
//   margin: 8px 0px;
//   margin-bottom: 15px;
//   list-style: none;
//   counter-reset: li;

//   li {
//     margin: 0px 0 10px;
//     padding: 0px;
//     counter-increment: li;
//     position: relative;
//     font-size: 16px;
//     font-weight: bold;
//     color: #606060;

//     &:before {
//       content: counters(li, ".") ".";
//       display: inline-block;
//       font-weight: 900;
//       line-height: 1.4;
//       margin-right: 4px;
//     }

//     ol {
//       margin-bottom: 25px;
//     }

//     li {
//       padding: 0px 0px 0px 6px;
//     }
//   }
// }

.white-box {
  background-color: #fff;
}

.faq-block {
  //margin-top: 57px;
  padding: 0px 30px;

  h1 {
    font-size: 30px;
    font-weight: 700;
    color: #606060;
    margin-top: 1em;
    line-height: 1.3;
  }

  .link {
    font-size: 16px;
    font-weight: 600;
    color: #606060;
    text-decoration: underline;
  }

  .faq-content {
    padding: 40px;

    @media (min-width: 767px) {
      padding: 40px;
      padding-left: 20px;
      max-width: 700px;
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
      color: #606060;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      color: #606060;
      margin-bottom: 15px;
    }

    .faq-content-list {
      list-style: none;
      margin: 0px;
      padding: 0px;
    }
  }
}

.search-block {
  position: relative;

  .form-control {
    border: 2px solid #afafaf;
    box-shadow: none;
    font-size: 18px;
    height: auto;
    margin-top: 2em;
  }

  i {
    position: absolute;
    right: 12px;
    font-size: 18px;
    color: #afafaf;
    top: 10px;
  }
}

#faqHeader {
  position: fixed;
  z-index: 1;
  width: 77%;
  background: #fff;
  margin-top: -16px;
}



#faqContent {
  margin-top: 6em;
  // max-height: 37em;
  // overflow-y: auto;
}

.border-bottom {
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 20px;
}

.question-list {
  border-right: 2px solid #e5e5e5;
  padding: 40px 0px;
}

.sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  padding: 0px;
}

@media screen and (max-width: 767px) {
  .sticky-sidebar {
    position: static;
  }
  .faq-block {
    // padding: 50px 40px;
  }
  .faq-block h1 {
    font-size: 26px;
  }
  .faq-block .faq-content {
    padding: 0px;
  }
  .search-block .form-control {
    font-size: 16px;
    margin-top: 12px;
  }
  .question-list {
    border-right: none;
  }
  .mb-0 {
    padding: 0px;
  }
}

.faq-tabs {
  #myTab {
    border-right: 1px solid #ccc;
  }
  ul {
    margin-top: 18px;
    li {
      margin: 0px 0 10px;
      padding: 0px;
      counter-increment: li;
      position: relative;
      font-size: 16px;
      font-weight: 800;
      a {
        color: #606060;
        outline: none;
        border: none;
      }
      ol {
        margin: 8px 0px 8px 40px;
        li {
        }
      }
    }
  }
}

html {
  scroll-behavior: smooth;
}

.page-section {
  height: auto;
  padding: 1em;
  background-color: #fff;
  color: #000;
}

.navigation {
  position: sticky;
}

.navigation__link {
  color: #606060;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

#list {
  counter-reset: item -1;
}
.navigation ol {
  counter-reset: item;
  padding-left: 10px;
  margin: 8px 0px;
  margin-bottom: 15px;
}

.navigation li {
  display: block;
  margin: 0px 0 10px;
  padding: 0px;
  position: relative;
  font-size: 16px;
  font-weight: 800;
  color: #606060;
}

.navigation li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

.navigation__link.active {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

html {
  scroll-behavior: smooth;
}

.page-section h2 {
  font-size: 20px;
  font-weight: 600;
  color: #606060;
}

.page-section p {
  font-size: 16px;
  font-weight: 400;
  color: #606060;
  margin-bottom: 15px;
}

.sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 170px;
  max-height: 600px;
  margin-top: 107px;
  overflow-y: auto;
}

.faq-block {
  background: #fff;
  position: relative;
}

.cursor-pointer {
  cursor: pointer !important;
}

.faq-block-sec span {
  color: #000 !important;
  background: #ff0 !important;
}

.right_img_active {
  display: inline !important;
}

.right_img_deactive {
  display: none !important;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0px;
  z-index: 99999;
  background: #fff;
}

.sticky + .content {
  padding-top: 102px;
}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  background: $Whitecolor;
  box-shadow: 0 2px 5px transparentize(#000, 0.9);
  .headercontent {
    max-width: 1450px;
    width: 80vw;
    margin: 0px auto;
  }
  .navbar-header {
    .navbar-toggle {
      margin-top: 17px;
    }
    .navbar-brand {
      height: auto;
      padding: 4px 15px -1px;
      img {
        width: 35px;
        display: inline;
      }
      .logo_text {
        font-size: 24px;
        color: $primary-color;
        font-weight: 700;
        padding-left: 10px;
        line-height: 1.5;
      }
    }
  }

  .navbar-nav {
    .main-li {
      padding: 16px 12px;
      color: $primary-color;
      font-size: 20px;
      font-weight: $semiboldFontWeight;
      line-height: 1.1;
      a {
        padding-bottom: 0;
        padding-top: 0;
        padding: 4px 12px;
        color: $primary-color;
        font-size: 20px;
        font-weight: $semiboldFontWeight;
        line-height: 1.1;

        &.active {
          background: transparent;
          border-top: 0px solid #ff6c00;
          color: #48a4bf;
        }
        &.open {
          background: transparent;
          border-top: 0px solid #ff6c00;
          color: #48a4bf;
        }
        &:hover {
          background: transparent;
          border-top: 0px solid #ff6c00;
          color: #48a4bf;
        }
      }
      &.active {
        background: transparent;
        border-top: 0px solid #ff6c00;
        color: #48a4bf;
      }
      &.open {
        background: transparent;
        border-top: 0px solid #ff6c00;
        color: #48a4bf;
      }
      &:hover {
        background: transparent;
        border-top: 0px solid #ff6c00;
        color: #48a4bf;
      }
    }
    .dropdown-li {
      padding: 4px 12px;
      color: $primary-color;
      font-size: 20px;
      font-weight: $semiboldFontWeight;
      line-height: 1.1;
      img {
        width: 30px;
      }
      a {
        line-height: 1.1;
      }
      &.active {
        background: transparent;
        border-top: 0px solid #ff6c00;
        color: #48a4bf;
      }
      &.open {
        background: transparent;
        border-top: 0px solid #ff6c00;
        color: #48a4bf;
      }
      &:hover {
        background: transparent;
        border-top: 0px solid #ff6c00;
        color: #48a4bf;
      }

      .dropdown-menu {
        position: absolute;
        background-color: #f1f1f1;
        min-width: 180px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        li {
          line-height: 1.1;
          a {
            color: $primary-color;
            padding: 10px 16px;
            text-decoration: none;
            display: block;
            font-size: 20px;
            line-height: 1.1;
            &.active {
              border-top: 0px solid #ff6c00;
              color: #48a4bf;
            }
            &.open {
              border-top: 0px solid #ff6c00;
              color: #48a4bf;
            }
            &:hover {
              border-top: 0px solid #ff6c00;
              color: #48a4bf;
              background-color: #ddd;
            }
          }
          &.active {
            background: transparent;
            border-top: 0px solid #ff6c00;
            color: #48a4bf;
          }
          &.open {
            background: transparent;
            border-top: 0px solid #ff6c00;
            color: #48a4bf;
          }
          &:hover {
            background: transparent;
            border-top: 0px solid #ff6c00;
            color: #48a4bf;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  
  .sticky-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 170px;
    max-height: 600px;
    margin-top: 100px;
    overflow-y: auto;
  }
  .search-block {
    position: relative;
  
    .form-control {
      border: 2px solid #afafaf;
      box-shadow: none;
      font-size: 18px;
      height: auto;
      margin-top: 0em;
    }
  
    i {
      position: absolute;
      right: 12px;
      font-size: 18px;
      color: #afafaf;
      top: 10px;
    }
  }

  .faq-block {
    //margin-top: 57px;
    padding: 0px 30px;
   
    
    h1 {
      font-size: 25px;
      font-weight: 700;
      color: #606060;
      margin-top: 5px;
      line-height: 1.3;
    }
  
    .link {
      font-size: 16px;
      font-weight: 600;
      color: #606060;
      text-decoration: underline;
    }
  
    .faq-content {
      padding: 40px;
  
      h2 {
        font-size: 20px;
        font-weight: 600;
        color: #606060;
      }
  
      p {
        font-size: 16px;
        font-weight: 400;
        color: #606060;
        margin-bottom: 15px;
      }
  
      .faq-content-list {
        list-style: none;
        margin: 0px;
        padding: 0px;
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 769px) {
#faqHeader {
  position: fixed;
  z-index: 1;
  width: 90%;
}
.sticky-sidebar{
  margin-top: 177px;
 }
}


@media only screen and (max-width: 767px){
  #faqHeader {
    position: fixed;
    z-index: 1;
    width: 98.6%; 
    background: #fff;
    margin-top: -14px;
  }
}

@media only screen and (min-width:768px) and (max-width: 790px){
  #faqHeader {
    position: fixed;
    z-index: 1;
    width: 89%; 
    background: #fff;
    margin-top: -14px;
  }
}