@import "../variables.component";

.main-container {
  margin-top: 100px;
  padding: 50px;
  color: $primary-color;
  background-color: $Whitecolor;
  box-shadow: 0 2px 5px transparentize(#000, .9);

  &__heading {
    margin-top: 0;
  }

  &__paragraph {
    font-size: $defaultFontSize;
  }
}
