<header id="header">
  <nav id="main-menu" class="navbar navbar-default navbar-fixed-top top-nav-collapse" role="banner">
      <div class="container headercontent">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only" [translate]="'Toggle_navi'">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/admin/users">
            <img src="assets/images/logo.svg" alt="website logo">
            <span class="logo_text">Agricontrol</span>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dropdown-li">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img [src]="currentUserPicture" alt="user profile picture">&nbsp;
                <span>{{ currentUserCompanyName | limitTo : 15 }}</span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a routerLink="/admin/settings" ><span [translate]="'Profile'">Profile</span></a></li>
                <li><a routerLink="/admin/users" ><span [translate]="'Users'">Users</span></a></li>
                <li><a routerLink="/admin/crops" ><span [translate]="'Crops'">Crops</span></a></li>
                <li><a routerLink="/admin/language"><span [translate]="'language_setting'">Language Setting</span></a></li>
                <li><a (click)="logOut()" [title]="'Logout' | translate" href="javascript:void(0);" ><span [translate]="'Logout'">Logout</span></a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</header>
<!--/header-->
  
<script src="assets/js/scrolling-nav.js"></script>
      