@import "../variables.component.scss";

.dashboardsection {
  .martop6em {
    margin-top: 6em;
  }

  .sectionheading {
    font-size: $headingFontSize;
    font-weight: $boldFontWeight;
    color: $primary-color;
    line-height: 1.1;
  }

  .sectionText {
    color: $secondary-color;
    font-size: $defaultFontSize;
    line-height: 1.5;
  }

  .sectionLink {
    cursor: pointer;
    h6 {
      font-size: $defaultFontSize;
      line-height: 1.5;
    }
  }

  .pad-15 {
    padding: 15px;
  }

  .border {
    border: 1px solid #ccc;
    width: 100%;
    padding: 0px;
    border-bottom: 1px solid #ccc;
    position: relative;
  }
}

.reportingSection {
  .mar-top2em {
    margin-top: 2em;
  }

  .martop6em {
    margin-top: 6em;
  }

  .sectionheading {
    font-size: $headingFontSize;
    font-weight: $boldFontWeight;
    color: $primary-color;
    line-height: 1.1;
  }

  .sectionText {
    font-size: $defaultFontSize;
    color: $secondary-color;
    line-height: 1.5;
  }

  .sectionLink {
    cursor: pointer;
    h6 {
      font-size: $defaultFontSize;
      line-height: 1.5;
    }
  }

  .pad-15 {
    padding: 15px;
  }

  .border {
    border: 1px solid #ccc;
    width: 100%;
    padding: 0px;
    border-bottom: 1px solid #ccc;
    position: relative;
  }
}

.helpSection {
  .mar-top2em {
    margin-top: 2em;
  }

  .martop6em {
    margin-top: 6em;
  }

  .sectionheading {
    font-size: $headingFontSize;
    font-weight: $boldFontWeight;
    color: $primary-color;
    line-height: 1.1;
  }

  .sectionText {
    font-size: $defaultFontSize;
    color: $secondary-color;
    line-height: 1.5;
  }

  .sectionLink {
    cursor: pointer;
    h6 {
      font-size: $defaultFontSize;
      line-height: 1.5;
    }
  }

  .pad-15 {
    padding: 15px;
  }

  .border {
    border: 1px solid #ccc;
    width: 100%;
    padding: 0px;
    border-bottom: 1px solid #ccc;
    position: relative;
  }
}

.helpPopupSection {
  .mar-top2em {
    margin-top: 2em;
  }

  .pad-0 {
    padding: 0px;
  }

  .img-class {
    width: 150px;
    height: 154px;
    background: #ccc;
    padding: 20px;
    border-radius: 50%;
  }

  .connecting-line {
    border: 3px solid #ccc;
    margin-top: 5em;
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1040;
}

.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  .modal-content {
    border-radius: 0px;
    color: #848181;

    .modal-header {
      border-bottom: 0px;
      background-color: #369dc6;
      color: $Whitecolor;

      .modal-title {
        font-size: $headingFontSize;
        font-weight: $boldFontWeight;
        line-height: 1.1;
      }
    }

    .fieldmodalbody {
      max-height: 90vh;
      height: auto;
      overflow-y: auto;
      padding-bottom: 2em;
    }

    .culturemodalbody {
      max-height: 90vh;
      height: auto;
      overflow-y: auto;
      padding-bottom: 2em;
    }

    .modal-body {
      padding: 15px 1em;

      .mar-left1em {
        margin-left: 1.5em;
      }

      .textareafield {
        height: auto;
        border-radius: 15px;
      }

      .btn-save{
        height: 40px;
        border-radius: 20px;
        width: 20%;
        line-height: 1.5;
      }

      .btn-help {
        height: 40px;
        border-radius: 20px;
        line-height: 1.5;
      }

      .select {
        position: relative;
        display: inline-block;
        width: 100%;
        select {
          display: inline-block;
          width: 100%;
          cursor: pointer;
          padding: 10px 15px;
          border: 0;
          border-radius: 20px;
          background: #e6e6e6;
          color: #7b7b7b;
          line-height: 1.5;
          appearance: none;
          user-select: none;

          &::-ms-expand {
            display: none;
          }
          &:hover,
          &:focus {
            color: #000;
            background: #dbd9d9;
          }
          &:disabled {
            opacity: 0.5;
            pointer-events: none;
          }
        }

        .selectarrow {
          position: absolute;
          top: 16px;
          right: 15px;
          width: 0;
          height: 0;
          pointer-events: none;
          border-style: solid;
          border-width: 8px 5px 0 5px;
          border-color: #7b7b7b transparent transparent transparent;
        }
      }

      .pad-0 {
        padding: 0px;
      }

      .select select {
        &:hover ~ .selectarrow,
        &:focus ~ .selectarrow {
          border-top-color: #000;
        }
        &:disabled ~ .selectarrow {
          border-top-color: #ccc;
        }
      }

      .helptext {
        font-size: $smallFontSize;
        font-weight: $semiboldFontWeight;
        color: $primary-color;
        line-height: 1.5;
      }
    }

    .error {
      font-size: 88%;
      color: #dc3545;
      width: 100%;
      padding-left: 1%;
      line-height: 1.5;
    }

    .echo {
      line-height: 1.5;
    }

    .swapped {
      line-height: 1.5;
    }

    .swappedwith {
      line-height: 1.5;
    }

    .date-from {
      width: 50%;
      padding: 0 10px 0 0;
      line-height: 1.5;
    }

    .date-to {
      width: 50%;
      padding: 0 0px 0 10px;
      line-height: 1.5;
    }

    .remainingSpace {
      padding-right: 15px;
    }

    .date-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-start;
    }

    .form-group {
      margin-bottom: 9px;
    }

    .form-control {
      display: block;
      width: 100%;
      height: 38px;
      padding: 10px 15px;
      font-size: $smallFontSize;
      line-height: 1.42857143;
      color: #808080;
      background-color: #e6e6e6;
      background-image: none;
      border: 1px solid #e6e6e6;
      border-radius: 20px;
      line-height: 1.5;
      user-select: none;
      box-shadow: none;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

      &:hover,
      &:focus {
        color: #000;
        background: #dbd9d9;
      }

      label {
        margin-left: 4px;
        line-height: 1.5;
      }
    }

    .pl-15 {
      padding-left: 15px;
    }
  }
}

.scaleIn {
  user-select: none;
  animation-name: scaleIn;
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    user-select: none;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

::ng-deep {
  .black-overlay {
    position: fixed;
  }

  .popupdatepicker {
    padding: 0;
    .ngx-datepicker-container {
      .ngx-datepicker-input {
        background-color: inherit;
        border: none;
        width: 100%;
        padding: 10px 15px;
      }
    }
  }

  .ngx-datepicker-container {
    .ngx-datepicker-input {
      width: 100%;
    }

    .ngx-datepicker-calendar-container {
      z-index: 9999;
    }
  }
}

@media only screen and (max-width: 767px) {
  .mobile_connecting_line {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .helpPopupSection .img-class {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .helpPopupSection .img-class {
    width: 62px;
    height: 62px;
  }
  .helpPopupSection .img-class {
    padding: 9px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .helpPopupSection .img-class {
    width: 110px;
    height: 110px;
  }
  .helpPopupSection .img-class {
    padding: 9px;
    position: relative;
  }
  .helpPopupSection .connecting-line {
    border: 3px solid #ccc;
    margin-top: 4em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .helpPopupSection .img-class {
    width: 85px;
    height: 85px;
  }
  .helpPopupSection .img-class {
    padding: 9px;
    position: relative;
  }
  .helpPopupSection .connecting-line {
    border: 3px solid #ccc;
    margin-top: 3em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .helpPopupSection .img-class {
    width: 70px;
    height: 70px;
  }
  .helpPopupSection .img-class {
    padding: 9px;
    position: relative;
  }
  .helpPopupSection .connecting-line {
    border: 3px solid #ccc;
    margin-top: 2em;
  }
}

.popupdatepicker {
  padding: 2px 15px;
  display: block;
  width: 100%;
  height: 38px;
  font-size: $smallFontSize;
  color: #808080;
  background-color: #e6e6e6;
  background-image: none;
  border: 1px solid #e6e6e6;
  line-height: 1.5;
  border-radius: 20px;
  user-select: none;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  &:hover {
    color: #000;
    background: #dbd9d9;
  }

  &:focus {
    color: #000;
    background: #dbd9d9;
  }

  .ngx-datepicker-container {
    .ngx-datepicker-input {
      background-color: inherit;
      border: none;
      width: 100%;
      padding: 10px 15px;
    }
  }
}

.popupdatepicker {
  padding: 0;

  .ngx-datepicker-container {
    .ngx-datepicker-input {
      background-color: inherit;
      border: none;
      width: 100%;
      padding: 10px 15px;
    }
  }
}

.popupdatepicker {
  padding: 2px 15px;
  display: block;
  width: 100%;
  height: 38px;
  font-size: $smallFontSize;
  color: #808080;
  background-color: #e6e6e6;
  background-image: none;
  border: 1px solid #e6e6e6;
  line-height: 1.5;
  border-radius: 20px;
  user-select: none;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  &:hover {
    color: #000;
    background: #dbd9d9;
  }

  &:focus {
    color: #000;
    background: #dbd9d9;
  }
}
