<div class="col-md-12 text-center login-icon">
  <a routerLink="/">
    <img src="assets/images/login_icon.png" class="img-responsive login-icon-img" alt="website logo">
  </a>
</div>

<div class="col-md-offset-3 col-md-6">
  <div *ngIf="!isTokenValidate" style="text-align: center;background: #fff;height: 96px;padding: 32px;">
    <label [translate]="'error_something_wrong'">Something went wrong! please contact to administrator.</label>
  </div>
  <div class="mid-section col-md-12" *ngIf="isTokenValidate">
    <!-- <img src="assets/images/forgot-password-1x.png" srcset="assets/images/forgot-password-1x.png 1x, assets/images/forgot-password-2x.png 2x" alt="image of a lock and key" class="img-responsive customImgCls"> -->

    <h2  [translate]="'set_password'">Set New password</h2>
    <div class="error-message alert alert-danger" *ngIf="isError">
      {{errorMessage}}
    </div>
    <div class="error-message alert alert-success" *ngIf="isSuccess">
      {{successMessage}}
    </div>
    <div class="col-md-offset-2 col-md-8 mar-top1">
      <form [formGroup]="resetpasswordForm" *ngIf="isTokenValidate">
        <div
          [ngClass]="(isErrorpwd && resetpasswordForm.controls.password.errors && resetpasswordForm.controls['password'].invalid && (resetpasswordForm.controls['password'].dirty || resetpasswordForm.controls['password'].touched)) ? 'mb-3' : 'mb-23' ">
          <input (blur)="Validationpwd()" (input)="ValidationErrorpwd()" type="password" class="form-control"
            placeholder="{{'new_password' | translate}}" formControlName="password" maxlength="25">
        </div>
        <div *ngIf="isErrorpwd">
          <div
            *ngIf="resetpasswordForm.controls.password.errors && resetpasswordForm.controls['password'].invalid && (resetpasswordForm.controls['password'].dirty || resetpasswordForm.controls['password'].touched)"
            class="error">
            <span *ngIf="resetpasswordForm.controls.password.errors.required" [translate]="'required_password'">Password is required</span>
            <span *ngIf="resetpasswordForm.controls.password.errors.minlength" [translate]="'minlength_password'">Password must be at least 6
              characters</span>
          </div>
        </div>
        <div
          [ngClass]="(isErrorrepwd && (resetpasswordForm.errors || (resetpasswordForm.controls.confirmPassword.errors && resetpasswordForm.controls['confirmPassword'].invalid && (resetpasswordForm.controls['confirmPassword'].dirty || resetpasswordForm.controls['confirmPassword'].touched)))) ? 'mb-3' : 'mb-23' ">
          <input (blur)="ValidationError()" (input)="ValidationErrorCheck()" type="password" class="form-control"
            placeholder="{{'confirm_new_password' | translate}}" formControlName="confirmPassword" maxlength="25">
        </div>
        <div *ngIf="isErrorrepwd">
          <div
            *ngIf="resetpasswordForm.controls.confirmPassword.errors && resetpasswordForm.controls['confirmPassword'].invalid && (resetpasswordForm.controls['confirmPassword'].dirty || resetpasswordForm.controls['confirmPassword'].touched)"
            class="error">
            <span *ngIf="resetpasswordForm.controls.confirmPassword.errors.required" [translate]="'field_required'"
            [translateParams]="{fieldname : 'confirm_password' | translate }">Confirm Password is required</span>
            <span *ngIf="resetpasswordForm.controls.confirmPassword.errors.minlength" [translate]="'field_max_length'"
            [translateParams]="{fieldname : 'confirm_password' | translate, length : 6 }">Confirm Password must be at least
              6 characters</span>
          </div>
        </div>
        <span *ngIf="resetpasswordForm.errors" class="error">{{ resetpasswordForm.errors?.passwords }}</span>

        <input type="hidden" formControlName="resetPasswordToken" />

        <input type="button" name="submit" class="btn btn-info btn-block btn-reset" value="{{'change_password' | translate}}"
          [ngStyle]="{ 'cursor' : (!resetpasswordForm.valid)? 'not-allowed' : 'pointer' }"
          [disabled]="!resetpasswordForm.valid" (click)="submitSetPassword()" />
      </form>
    </div>
  </div>
</div>
<!-- <ngx-spinner type="ball-clip-rotate"></ngx-spinner> -->
<div *ngIf="isLoading" class="loading">Loading&#8230;</div>