
<div class="pageHead col-md-12">
  <h2 class="page-title mobile_center">
    Your Masterlists
  </h2>
   <!-- <button type="button" class="btn btn-success pull-right" (click)="openmasterModal()">Masters</button> -->
  <hr class="faq">
</div>

<div class="contentSection col-sm-12 col-xs-12 p0">
  <div class="col-sm-12">
    <div class="error-message alert alert-danger col-md-12 customerroralert" *ngIf="isError" [ngClass] ="FadeOutLink()">
      {{errorMessage}}
    </div>
    <div class="error-message alert alert-success col-md-12 customalert" *ngIf="isSuccess" [ngClass] ="FadeOutLink()">
      {{successMessage}}
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-4-padding">
    <div class="panel panel-default">
      <div class="panel-heading grey-panel" id="heading4" role="tab">
        <h4 class="panel-title">
          <a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse"
            role="button" href="#collapse1">
            <i class="down fa fa-chevron-up"></i>
            <i class="up fa fa-chevron-down"></i>
            <!-- <i-chevron-up class="up"> </i-chevron-up>
            <i-chevron-down class="down"></i-chevron-down> -->
            <span [translate]="'machine'"> Machines </span>
          </a>
        </h4>
      </div>
      <div aria-labelledby="headingOne" class="panel-collapse collapse in" role="tabpanel" id="collapse1">
        <div class="panel-body">
          <div class="col-md-12 p0 mb1em">
            <div class="row">
              <form [formGroup]="machineForm" (submit)="addMachine()">
                <div class="col-md-8 col-sm-8 col-xs-8 col-padding">
                  <input type="hidden" formControlName="machine_id" >
                  <input type="hidden" formControlName="machine_old" >
                  <input type="text" class="form-control" formControlName="machine_name" placeholder="New Listings">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 col-padding">
                  <button type="button" class="btn btn-masters" [ngStyle]="{ 'cursor' : (!machineForm.valid)? 'not-allowed' : 'pointer' }" [disabled]="!machineForm.valid"
                  (click)="addMachine()">{{machineFormButton}}</button>
                </div>
              </form>
            </div>
          </div>
          <div *ngFor="let machine of allMachine$; let i = index" class="col-md-12 p0 {{ (allMachine$.length-1 == i) ?'row-btm':'bor-btm' }}" >
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-8 col-padding">
                <h4>{{ machine.machine_name }} <span *ngIf="machine.is_example == 1" class="example_lable">Example</span></h4>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4 col-padding">
                <span class="edit-icon-wrapper">
                  <a (click)="deleteMachine(machine.machine_id)" >
                    <i-trash-2 class="icon pull-right"> </i-trash-2>
                  </a>
                </span>
                <span *ngIf="machine.is_example == 0" class="edit-icon-wrapper">
                  <a href="javascript:void(0)" (click)="editMachine(machine)" >
                    <i-edit class="icon pull-right"></i-edit>
                  </a>
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- Machines -->

    <div class="panel panel-default">
      <div class="panel-heading grey-panel" id="heading2" role="tab">
        <h4 class="panel-title"><a aria-controls="collapse2" aria-expanded="true" data-parent="#accordion"
            data-toggle="collapse" role="button" href="#collapse2">
            <i class="down fa fa-chevron-up"></i>
            <i class="up fa fa-chevron-down"></i>
            <!-- <i-chevron-up class="up"> </i-chevron-up>
            <i-chevron-down class="down"></i-chevron-down> -->
            <span [translate]="'soil_cultivation'"> Soil Cultivation </span>
          </a>
        </h4>
      </div>
      <div aria-labelledby="heading2" class="panel-collapse collapse in" role="tabpanel" id="collapse2">
        <div class="panel-body">
          <div class="col-md-12 p0 mb1em">
            <div class="row">
              <form [formGroup]="soilForm" (submit)="actionSoilCultivation()">
                <div class="col-md-8 col-sm-8 col-xs-8 col-padding">
                  <input type="hidden" formControlName="soil_id" >
                  <input type="hidden" formControlName="soil_old" >
                  <input type="text" formControlName="soil_name" class="form-control" placeholder="New Listings">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 col-padding">
                  <button type="button" [ngStyle]="{'cursor': (!soilForm.valid)?'not-allowed':'pointer'}" [disabled]="!soilForm.valid" class="btn btn-masters" 
                   (click)="actionSoilCultivation()"> {{soilFormButton}}</button>
                </div>
              </form>
            </div>
          </div>
          <div *ngFor="let sdata of allSoil$; let i = index" class="col-md-12 p0 {{ (allSoil$.length-1 == i) ?'row-btm':'bor-btm' }}" >
            <div class="row">
              <div class="col-md-8  col-sm-8 col-xs-8 col-padding">
                <h4 *ngIf="sdata.is_example == 0">{{ sdata.soil_name }} </h4>
                <h4 *ngIf="sdata.is_example == 1" [translate]="'soil_example'"> Harvesting<span class="example_lable">Example</span></h4>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4 col-padding">
                <span class="edit-icon-wrapper">
                  <a (click)="deleteSoil(sdata.soil_id)" >
                  <i-trash-2 class="icon pull-right"> </i-trash-2>
                  </a>
                </span>
                <span *ngIf="sdata.is_example == 0" class="edit-icon-wrapper">
                  <a (click)="editSoil(sdata)">
                  <i-edit class="icon pull-right"></i-edit>
                  </a>
                </span>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- soil cultivation -->

    <div class="panel panel-default">
      <div class="panel-heading grey-panel" id="heading3" role="tab">
        <h4 class="panel-title"><a aria-controls="collapse3" aria-expanded="true" data-parent="#accordion"
            data-toggle="collapse" role="button" href="#collapse3">
            <i class="down fa fa-chevron-up"></i>
            <i class="up fa fa-chevron-down"></i>
            <!-- <i-chevron-up class="up"> </i-chevron-up>
            <i-chevron-down class="down"></i-chevron-down> -->
            <span [translate]="'pests_diaseses'">Pests & Diseases</span>
          </a>
        </h4>
      </div>
      <div aria-labelledby="heading3" class="panel-collapse collapse in" role="tabpanel" id="collapse3">
        <div class="panel-body">
          <div class="col-md-12 p0 mb1em">
            <div class="row">
              <form [formGroup]="pestsForm" (submit)="actionPests()">
                <div class="col-md-8 col-sm-8 col-xs-8 col-padding">
                  <input type="hidden" formControlName="pests_id" />
                  <input type="hidden" formControlName="pests_old" />
                  <input type="text" formControlName="pests_name" class="form-control" placeholder="New Listings">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 col-padding">
                  <button type="button" class="btn btn-masters" [ngStyle]="{'cursor':(!pestsForm.valid)?'not-allowed':'pointer'}" [disabled]="!pestsForm.valid"
                  (click)="actionPests()" >{{pestsFormButton}}</button>
                </div>
              </form>
            </div>
          </div>
          <div *ngFor="let pests of allPests$; let i = index" class="col-md-12 p0 {{ (allPests$.length-1 == i) ?'row-btm':'bor-btm' }}" >
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-8 col-padding">
                <h4 *ngIf="pests.is_example == 0">{{pests.pests_name}} </h4>
                <h4 *ngIf="pests.is_example == 1" [translate]="'pest_example'">Pest<span class="example_lable">Example</span></h4>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4 col-padding">
                <span class="edit-icon-wrapper">
                  <a (click)="deletePests(pests.pests_id)" >
                  <i-trash-2 class="icon pull-right"> </i-trash-2>
                  </a>
                </span>
                <span *ngIf="pests.is_example == 0" class="edit-icon-wrapper">
                  <a (click)="editPests(pests)" >
                  <i-edit class="icon pull-right"></i-edit>
                  </a>
                </span>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- pets & disease -->
  </div>
  <!-- col-md-4 -->

  <div class="col-md-8 col-sm-8 col-padding">
    <div class="panel panel-default" >
      <div class="panel-heading grey-panel" id="heading4" role="tab">
        <h4 class="panel-title">
          <a aria-controls="collapse4" aria-expanded="true" data-parent="#accordion" data-toggle="collapse"
            role="button" href="#collapse4">
            <i class="down fa fa-chevron-up"></i>
            <i class="up fa fa-chevron-down"></i>
            <!-- <i-chevron-up class="up"> </i-chevron-up>
            <i-chevron-down class="down"></i-chevron-down> -->
            <span [translate]="'fertilizer_title'"> Fertilizers (Nutrition units per kg or l) </span>
          </a>
        </h4>
      </div>
      <div aria-labelledby="heading4" class="panel-collapse collapse in" role="tabpanel" id="collapse4">
        <div class="panel-body">
          <div class="col-md-12 p0 mb1em">
            <div class="row">
              <form [formGroup]="fertilizerForm" (keydown.enter)="actionFertilizer()">
                <input type="hidden" formControlName="fertilizer_id" />
                <div class="col-md-4 col-sm-6 col-xs-12 col-padding">
                  <input type="text" formControlName="fertilizer_name" class="form-control mobile_margin" placeholder="Name">
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 col-padding">
                  <select formControlName="unit" class="form-control  amt-select">
                    <option value="" >Unit</option> 
                    <option value="l" >l/ha</option>
                    <option value="kg" >kg/ha</option>
                    <option value="g" >g/ha</option>
                    <option value="dl" >dl/ha</option>
                  </select>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                  <input type="{{ (IsMobile)?'number':'text' }}" formControlName="nitrogen" (keypress)="numberOnly($event)" maxlength="3" class="form-control mobile_margin placeholderCls" placeholder="N">
                </div>
                <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                  <input type="{{ (IsMobile)?'number':'text' }}" formControlName="phosphorus" (keypress)="numberOnly($event)" maxlength="3" class="form-control mobile_margin placeholderCls" placeholder="P&#8322;O&#8325;">
                </div>
                <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                  <input type="{{ (IsMobile)?'number':'text' }}" formControlName="potassium_oxide" (keypress)="numberOnly($event)" maxlength="3" class="form-control mobile_margin placeholderCls" placeholder="K&#8322;O">
                </div>
                <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                  <input type="{{ (IsMobile)?'number':'text' }}" formControlName="magnesium" (keypress)="numberOnly($event)" maxlength="3" class="form-control mobile_margin placeholderCls" placeholder="Mg">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 col-padding">
                  <button type="button" class="btn btn-masters" [ngStyle]="{'cursor': (!fertilizerForm.valid)?'not-allowed':'pointer'}" [disabled]="!fertilizerForm.valid"
                  (click)="actionFertilizer()">{{fertilizerButton}}</button>
                </div>
                <!-- <div (keypress)="numberOnly($event)" maxlength="3"
                *ngIf="fertilizerForm.controls.fertilizer_name.errors && fertilizerForm.controls['fertilizer_name'].invalid && (fertilizerForm.controls['fertilizer_name'].dirty || fertilizerForm.controls['fertilizer_name'].touched)"
                class="error">
                <span *ngIf="fertilizerForm.controls.fertilizer_name.errors.required" >Name to is required.</span>
                </div>  -->
              </form>
            </div>
          </div>

          <div *ngFor="let fdata of allFertilizer$ let i = index" class="col-md-12 p0 {{ (allFertilizer$.length-1 == i) ?'row-btm':'bor-btm' }}">
              <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12 col-padding">
                  <h4 *ngIf="fdata.is_example == 0">{{fdata.fertilizer_name}} </h4>
                  <h4 *ngIf="fdata.is_example == 1" [translate]="'Fertilizer_example'" >Fertilizer <span class="example_lable">Example</span></h4>
                </div>
                <div class="col-md-1 col-sm-6 col-xs-12 col-padding">
                  <h4>{{fdata.unit}}/ha</h4>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                  <h4><strong class="mobile-label"> N : </strong> {{fdata.nitrogen}}</h4>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                  <h4><strong class="mobile-label"> p<sub>2</sub>o<sub>5</sub> : </strong>{{fdata.phosphorus}}</h4>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                  <h4><strong class="mobile-label"> k<sub>2</sub>: </strong>{{fdata.potassium_oxide}}</h4>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                  <h4><strong class="mobile-label"> Mg : </strong>{{fdata.magnesium}}</h4>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 col-padding">
                  <span class="edit-icon-wrapper">
                    <a (click)="deleteFertilizer(fdata.fertilizer_id)">
                    <i-trash-2 class="icon pull-right"> </i-trash-2>
                    </a>
                  </span>
                  <span *ngIf="fdata.is_example == 0" class="edit-icon-wrapper">
                    <a (click)="editFertilizer(fdata)" >
                    <i-edit class="icon pull-right"></i-edit>
                    </a>
                  </span>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- fertilizers -->

    <div class="panel panel-default">
      <div class="panel-heading grey-panel" id="heading5" role="tab">
        <h4 class="panel-title">
          <a aria-controls="collapse5" aria-expanded="true" data-parent="#accordion" data-toggle="collapse"
            role="button" href="#collapse5">
            <i class="down fa fa-chevron-up"></i>
            <i class="up fa fa-chevron-down"></i>
            <!-- <i-chevron-up class="up"> </i-chevron-up>
            <i-chevron-down class="down"></i-chevron-down> -->
            <span [translate]="'plant_protection_product'"> Plant Protection Products </span>
          </a>
          <a class="{{ (IsMobile) ?'col-sm-12 col-xs-12 linkTextMobile':'linkText' }}" style="font-size:14px;color:inherit;text-decoration: underline;" target="_blank" href="https://www.psm.admin.ch/de/produkte" [translate]="'plant_protection_link'">(https://www.psm.admin.ch/de/produkte)</a>
        </h4>
      </div>
      <div aria-labelledby="heading5" class="panel-collapse collapse in" role="tabpanel" id="collapse5">
        <div class="panel-body">
          <div class="col-md-12 p0 mb1em">
            <div class="row">
              <form [formGroup]="pesticidesForm" (keydown.enter)="actionPesticides()" >
                <input type="hidden" formControlName="pesticide_id" />
                <div class="col-md-4 col-sm-4 col-xs-12 col-padding">
                  <input type="text" formControlName="pesticide_name" class="form-control mobile_margin " placeholder="Name">
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 col-padding">
                  <select formControlName="unit" class="form-control  amt-select">
                    <option value="" >Unit</option> 
                    <option value="l" >l/ha</option>
                    <option value="kg" >kg/ha</option>
                    <option value="g" >g/ha</option>
                    <option value="dl" >dl/ha</option>
                  </select>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 col-padding">
                    <select class="form-control mobile_margin" formControlName="type_id" >
                        <option selected value="">Type</option>
                        <option *ngFor="let type of allPesticideType$" value="{{type.type_id}}" >{{type.type_name}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 col-padding">
                  <input type="text" formControlName="waiting_days" (keypress)="numberOnly($event)" maxlength="3" class="form-control mobile_margin " placeholder="Waiting Period">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 col-padding">
                  <button type="button" class="btn btn-masters" [ngStyle]="{'cursor':(!pesticidesForm.valid)?'not-allowed':'pointer'}" [disabled]="!pesticidesForm.valid"
                  (click)="actionPesticides()" >{{pesticideFormButtton}}</button>
                </div>
              </form>
            </div>
          </div>
          <div *ngFor="let pesticides of allPesticide$ let i = index" class="col-md-12 p0 {{ (allPesticide$.length-1 == i) ?'row-btm':'bor-btm' }}">
            <div class="row">
              <div class="col-md-5 col-sm-6 col-padding">
                <h4 *ngIf="pesticides.is_example == 0">{{pesticides.pesticide_name}} </h4>
                <h4 *ngIf="pesticides.is_example == 1" [translate]="'pesticide_example'">Plant Protection Product<span class="example_lable">Example</span></h4>
              </div>
              <div class="col-md-1 col-sm-6 col-xs-12 col-padding">
                <h4>{{pesticides.unit}}/ha</h4>
              </div>
              <div class="col-md-2 col-sm-2 col-padding">
                <h4>{{pesticides.type_name}}</h4>
              </div>
              <div class="col-md-2 col-sm-2 col-padding">
                <h4>{{pesticides.waiting_days}}</h4>
              </div>
              <div class="col-md-2 col-sm-2 col-padding">
                <span class="edit-icon-wrapper">
                  <a (click)="deletePesticide(pesticides.pesticide_id)"> 
                  <i-trash-2 class="icon pull-right"> </i-trash-2>
                  </a>
                </span>
                <span *ngIf="pesticides.is_example == 0" class="edit-icon-wrapper">
                  <a (click)="editPesticide(pesticides)">
                  <i-edit class="icon pull-right"></i-edit>
                  </a>
                </span>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- plant protection -->
  </div>
  <!-- col-md-8 -->
</div>
<hr>
<!-- col-md-12 -->

<app-footer></app-footer>

<app-alert></app-alert>

<!-- modal -->
<div class="modal" tabindex="-1" role="dialog" id="exportmodalId" [ngStyle]="{'display':mastersModal}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="exportContentId">
      <div class="modal-body" id="modalBody">
        <button type="button" class="close" data-dismiss="modal" (click)="closemasterModal()" aria-label="Close">
          <i-x></i-x>
        </button>
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#menu1">Fertilizing</a></li>
            <li><a data-toggle="tab" href="#menu2">Plant Protection</a></li>
            <li><a data-toggle="tab" href="#menu3">Soil Cultivation</a></li>
          </ul>

          <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-padding">
                    <label>Date</label>
                    <input class="popupdatepicker form-control" type="date">
                  </div>
                  <div class="col-md-4 col-sm-4 col-padding">
                    <label>Fertilizers</label>
                    <select class="form-control">
                        <option>Option1</option>
                        <option>Option2</option>
                        <option>Option3</option>
                     </select>
                  </div>
                  <div class="col-md-4 col-sm-4 col-padding">
                    <label class="wid-100">Amount</label>
                    <input type="text" class="form-control amt-field" placeholder="Amt">
                     <select class="form-control  amt-select">
                        <option>Ploughing</option>
                        <option>Option2</option>
                        <option>Option3</option>
                     </select>
                  </div>
                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="col-md-12 p0">
                    <div class="col-md-3 col-sm-3 col-padding">
                      <label>Basic Demand</label>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="N">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="P&#8322;O&#8325;">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="K&#8322;O">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="Mg">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="col-md-12 p0">
                    <div class="col-md-3 col-sm-3 col-padding">
                      <label>Corrected Demand</label>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="N">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="P&#8322;O&#8325;">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="K&#8322;O">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="Mg">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="col-md-12 p0">
                    <div class="col-md-3 col-sm-3 col-padding">
                      <label>Previous Fertilizing</label>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="N">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="P&#8322;O&#8325;">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="K&#8322;O">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="Mg">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="col-md-12 p0">
                    <div class="col-md-3 col-sm-3 col-padding">
                      <label>New Fertilizing</label>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="N">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="P&#8322;O&#8325;">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="K&#8322;O">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="Mg">
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 col-padding">
                      <label class="col-md-5 col-padding">Whole field </label>
                      <input type="checkbox">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="col-md-12 p0">
                    <div class="col-md-3 col-sm-3 col-padding">
                      <label>Balance</label>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="N">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="P&#8322;O&#8325;">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="K&#8322;O">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6 col-padding">
                      <input type="text" class="form-control mobile_margin" placeholder="Mg">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="col-md-5 col-sm-5 col-padding">
                    <label>Machine</label>
                    <select class="form-control">
                        <option>Plough</option>
                        <option>Option2</option>
                        <option>Option3</option>
                     </select>
                  </div>
                  <div class="col-md-7 col-sm-7 col-padding">
                    <label>Person</label>
                    <input type="text" placeholder="Lukas" class="form-control">
                  </div>

                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <label>Notes</label>
                  <textarea rows="3" class="form-control"></textarea>
                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="panel panel-default">
                    <div class="panel-heading grey-panel" id="headingmodal" role="tab">
                      <h4 class="panel-title">
                        <a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion"
                          data-toggle="collapse" role="button" href="#collapsemodal">
                          <i class="up fa fa-chevron-up"></i>
                          <i class="down fa fa-chevron-down"></i>
                          <!-- <i-chevron-up class="up"> </i-chevron-up>
                          <i-chevron-down class="down"></i-chevron-down> -->
                          <span class="font-16"> Previous activities </span>
                          <button type="button" class="btn btn-masters pull-right">Submit Activity</button>
                        </a>
                      </h4>
                    </div>
                    <div aria-labelledby="headingmodal" class="panel-collapse collapse in" role="tabpanel"
                      id="collapsemodal">
                      <div class="panel-body">
                        <div class="col-md-12 p0 bor-btm">
                          <div class="row">
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>Example Fertilizers</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>05.May 2019</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>Lukas</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <span class="edit-icon-wrapper">
                                <i-trash-2 class="icon pull-right"> </i-trash-2>
                              </span>
                              <span class="edit-icon-wrapper">
                                <i-edit class="icon pull-right"></i-edit>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 p0 bor-btm">
                          <div class="row">
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>Fertilizing</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>15.May 2019</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>Bens</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <span class="edit-icon-wrapper">
                                <i-trash-2 class="icon pull-right"> </i-trash-2>
                              </span>
                              <span class="edit-icon-wrapper">
                                <i-edit class="icon pull-right"></i-edit>
                              </span>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- menu1 -->
            <div id="menu2" class="tab-pane fade">
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-padding">
                    <label>Date</label>
                    <input class="popupdatepicker form-control" formcontrolname="dateFrom" id="dateFrom" type="date">
                  </div>
                  <div class="col-md-4 col-sm-4 col-padding">
                    <label>Plant Protection Product</label>
                    <input type="text" class="form-control" placeholder="Fertilizers">
                  </div>
                  <div class="col-md-4 col-sm-4 col-padding">
                    <label class="wid-100">Amount</label>
                    <input type="text" class="form-control amt-field" placeholder="Amt">
                    <select class="form-control amt-select">
                        <option>Option1</option>
                        <option>Option2</option>
                        <option>Option3</option>
                     </select>
                  
                  </div>
                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-padding">
                    <label>Waiting Period</label>
                    <input type="text" placeholder="14 days" class="form-control">
                  </div>
                  <div class="col-md-offset-4 col-md-4 col-sm-4 col-padding">
                    <label>Total Amount</label>
                    <input type="text" placeholder="26 Liter" class="form-control">
                  </div>
                </div>
              </div>


              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="col-md-5 col-sm-5 col-padding">
                    <label>Machine</label>
                    <select class="form-control">
                       <option>Option1</option>
                       <option>Option2</option>
                       <option>Option3</option>
                    </select>
                  </div>
                  <div class="col-md-7 col-sm-7 col-padding">
                    <label>Person</label>
                    <input type="text" placeholder="Lukas" class="form-control">
                  </div>

                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-padding">
                    <label>Pets & Diaseses</label>
                    <select class="form-control">
                        <option>Worms</option>
                        <option>Option2</option>
                        <option>Option3</option>
                     </select>
                  </div>
                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <label>Notes</label>
                  <textarea rows="3" class="form-control"></textarea>
                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="panel panel-default">
                    <div class="panel-heading grey-panel" id="headingmodal1" role="tab">
                      <h4 class="panel-title">
                        <a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion"
                          data-toggle="collapse" role="button" href="#collapsemodal1">
                          <i class="up fa fa-chevron-up"></i>
                          <i class="down fa fa-chevron-down"></i>
                          <!-- <i-chevron-up class="up"> </i-chevron-up>
                          <i-chevron-down class="down"></i-chevron-down> -->
                          <span class="font-16"> Previous activities </span>
                          <button type="button" class="btn btn-masters pull-right">Submit Activity</button>
                        </a>
                      </h4>
                    </div>
                    <div aria-labelledby="headingmodal1" class="panel-collapse collapse in" role="tabpanel"
                      id="collapsemodal1">
                      <div class="panel-body">
                        <div class="col-md-12 p0 bor-btm">
                          <div class="row">
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>Example Fertilizers</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>05.May 2019</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>Lukas</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <span class="edit-icon-wrapper">
                                <i-trash-2 class="icon pull-right"> </i-trash-2>
                              </span>
                              <span class="edit-icon-wrapper">
                                <i-edit class="icon pull-right"></i-edit>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 p0 bor-btm">
                          <div class="row">
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>Fertilizing</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>15.May 2019</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>Bens</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <span class="edit-icon-wrapper">
                                <i-trash-2 class="icon pull-right"> </i-trash-2>
                              </span>
                              <span class="edit-icon-wrapper">
                                <i-edit class="icon pull-right"></i-edit>
                              </span>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- menu2 -->
            <div id="menu3" class="tab-pane fade">
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-padding">
                    <label>Date</label>
                    <input class="popupdatepicker form-control" type="date">
                  </div>
                  <div class="col-md-9 col-sm-9 col-padding">
                    <label>Activity</label>
                    <select class="form-control">
                        <option>Ploughing</option>
                        <option>Option2</option>
                        <option>Option3</option>
                     </select>
                  </div>

                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-padding">
                    <label>Machine</label>
                    <select class="form-control">
                        <option>Plough: John Deere</option>
                        <option>Option2</option>
                        <option>Option3</option>
                     </select>
                  </div>
                  <div class="col-md-8 col-sm-8 col-padding">
                    <label>Person</label>
                    <input type="text" class="form-control" placeholder="Fertilizers">
                  </div>
                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <label>Notes</label>
                  <textarea rows="3" class="form-control"></textarea>
                </div>
              </div>
              <div class="col-md-12 p0 mttab">
                <div class="row">
                  <div class="panel panel-default">
                    <div class="panel-heading grey-panel" id="headingmodal2" role="tab">
                      <h4 class="panel-title">
                        <a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion"
                          data-toggle="collapse" role="button" href="#collapsemodal2">
                          <i class="up fa fa-chevron-up"></i>
                          <i class="down fa fa-chevron-down"></i>
                          <!-- <i-chevron-up class="up"> </i-chevron-up>
                          <i-chevron-down class="down"></i-chevron-down> -->
                          <span class="font-16"> Previous activities </span>
                          <button type="button" class="btn btn-masters pull-right">Submit Activity</button>
                        </a>
                      </h4>
                    </div>
                    <div aria-labelledby="headingmodal2" class="panel-collapse collapse in" role="tabpanel"
                      id="collapsemodal2">
                      <div class="panel-body">
                        <div class="col-md-12 p0 bor-btm">
                          <div class="row">
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>Example Fertilizers</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>05.May 2019</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>Lukas</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <span class="edit-icon-wrapper">
                                <i-trash-2 class="icon pull-right"> </i-trash-2>
                              </span>
                              <span class="edit-icon-wrapper">
                                <i-edit class="icon pull-right"></i-edit>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 p0 bor-btm">
                          <div class="row">
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>Fertilizing</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>15.May 2019</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <h4>Bens</h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-padding">
                              <span class="edit-icon-wrapper">
                                <i-trash-2 class="icon pull-right"> </i-trash-2>
                              </span>
                              <span class="edit-icon-wrapper">
                                <i-edit class="icon pull-right"></i-edit>
                              </span>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- menu3 -->
          </div>
        </div>
      </div>
    </div>
</div>



  