<div class="footerdiv text-center" style="padding: 0px 15px;">
    <ul class="list-inline" >
        <li><a href="mailto:help@agricontrol.app" target="_top" translate>help@agricontrol.app</a></li>
        <span>-</span>
        <li ><a href="https://agricontrol.app/nutzungsbedingungen.html" target="_blank"><span [translate]="'term_of_service'">Terms and Conditions</span></a>
        </li>
        <span>-</span>
        <li ><a href="https://agricontrol.app/impressum.html" target="_blank" ><span [translate]="'site_notice'">Legal Notice</span></a></li>
        <span>-</span>
        <li><a href="https://agricontrol.app/datenschutz.html" target="_blank"><span [translate]="'privacy'">Privacy Policy</span></a></li>
    </ul>
    <p>
        © Agricontrol 2019 - <span [translate]="'footer_message'">Made with love and a sprinkle of sunshine</span>
    </p>
</div>