@import "../variables.component.scss";

body.modal-open {
  overflow: visible !important;
}

@media only screen and (max-width: 767px) {
  .modal .modal-content .modal-body {
    padding: 25px 1em;
  }
  .model-button {
    display: block !important;
    padding: 10px 20px !important;
    border-radius: 10px !important;
  }
}

.top-boxes {
  padding: 0px;

  .pad-0 {
    padding: 0px;
  }

  .bar-section {
    border: 1px solid #ededed;
    box-shadow: 2px 2px 3px #dedede;
    width: 100%;
    background: $Whitecolor;
    margin-bottom: 15px;

    .right-bar {
      border: 3px solid #bae8f8;
      padding-top: 5px;

      h6 {
        color: $primary-color;
        margin: 7px 0 10px;
        font-size: $defaultFontSize;
        font-weight: $boldFontWeight;
        line-height: 1.1;
      }

      p {
        color: $secondary-color;
        font-size: $defaultFontSize;
        font-weight: $boldFontWeight;
        line-height: 1.5;
        margin-top: 3px;
      }

      .cropdropdown {
        padding-right: 5px;
        margin-top: 3px;

        .cropdrop {
          margin-top: -5px;
          border-radius: 20px;
          font-size: $smallFontSize;
          color: $primary-color;
          line-height: 1.5;

          &:hover {
            background-color: $Whitecolor;
          }

          &:active {
            background-color: $Whitecolor;
          }

          &:focus {
            background-color: $Whitecolor;
          }
        }

        .crop-dropdown {
          width: 150px;
          left: 15px;
          overflow-x: hidden;
          max-height: 200px;
          overflow-y: auto;
          height: auto;

          li {
            font-size: $smallFontSize;
            color: $primary-color;
            font-weight: $semiboldFontWeight;
            line-height: 1.5;
            padding: 5px 15px;
            cursor: pointer;

            &.active {
              background: #e6e6e6;
            }
          }
        }
      }
    }

    .croplistDiv {
      border-top: none;
      border: 3px solid #bae8f8;
      margin-bottom: 0;

      .panel {
        border-radius: 0px;
      }

      table {
        margin-bottom: 0;

        .cropname {
          padding-left: 15px;
        }
      }

      .panel-body {
        padding-bottom: 10px;
      }
    }

    .sizeperHead {
      border-bottom: none;
    }
  }

  .box {
    max-height: 0px;
    overflow-y: hidden;
    transition: ease-in-out 10ms max-height;
  }

  .box.opened {
    max-height: 200px;
    transition: ease-in-out 100ms max-height;
  }
}

.overview-section {
  margin-top: 8em;
  padding: 0px;

  .error {
    font-size: 88%;
    color: #dc3545;
    width: 100%;
    padding-left: 1%;
    line-height: 1.5;
  }

  .mt--4 {
    margin-top: -4px;
  }

  .panel {
    .panel-heading {
      padding: 10px 15px;
      border-bottom: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      background-color: #dbecf3;
      border-top: 2px solid #369dc6;
      font-size: $defaultFontSize;
      color: $primary-color;
      font-weight: $boldFontWeight;
      line-height: 1.5;

      .add-new-field {
        display: inline;
        margin-left: 1%;

        .btn-field {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          padding: 0px;
        }
      }

      .Searchcrop {
        color: $primary-color;
        font-size: $smallFontSize;
        font-weight: $semiboldFontWeight;
        line-height: 1.5;
      }
    }

    .panel-body {
      .mar-bottom1em {
        margin-bottom: 1.3em;
      }

      .m-b-20 {
        margin-bottom: 20px;
      }

      .pad-0 {
        padding: 0px;
      }

      .crops {
        line-height: 1.5;
      }

      .filteredItem {
        opacity: 0.2;
      }

      .cropdrop {
        margin-top: -5px;
        border-radius: 20px;
        font-size: $smallFontSize;
        color: $primary-color;
        line-height: 1.5;

        &:hover {
          background-color: $Whitecolor;
        }

        &:active {
          background-color: $Whitecolor;
        }

        &:focus {
          background-color: $Whitecolor;
        }
      }

      .crop-dropdown {
        max-height: 200px;
        overflow-y: auto;
        left: -20px;
        overflow-x: hidden;
        height: auto;

        li {
          font-size: $smallFontSize;
          color: $primary-color;
          font-weight: $semiboldFontWeight;
          line-height: 1.5;
        }
      }

      .archieve-text {
        color: $secondary-color;
        margin-left: 12px;
        line-height: 1.5;
      }

      .container-checkbox {
        display: block;
        position: relative;
        padding-left: 27px;
        margin-bottom: 20px;
        cursor: pointer;
        line-height: 1.5;
        font-size: $defaultFontSize;
        user-select: none;

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;

          &:checked {
            ~ .checkmark {
              background-color: #2196f3;

              &::after {
                display: block;
                top: 2px;
              }
            }
          }
        }

        .checkmark {
          position: absolute;
          top: 16%;
          left: 0;
          height: 16px;
          width: 16px;
          background-color: #73b680;
          line-height: 1.5;

          &::after {
            content: "";
            position: absolute;
            display: none;
          }

          &::after {
            left: 6px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            user-select: none;
            transform: rotate(45deg);
          }
        }
      }

      .field-section {
        padding: 15px;
        box-shadow: 2px 2px 4px #dedede;
        border: 1px solid #dedede;
        margin-top: 20px;

        .field-name {
          display: inline;
          font-size: $defaultFontSize;
          color: $primary-color;
          font-weight: $boldFontWeight;
          line-height: 1.1;
        }

        .field-graph {
          margin-top: 20px;
        }

        .chart-section {
          background: #efefef;
          // width: auto;
          //height: 100px;
          margin-top: 1em;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          align-items: flex-start;

          .field-monthClass {
            position: absolute;
            z-index: 9;
            top: -25%;
            font-size: $smallFontSize;
            color: $primary-color;
            line-height: 1.5;
          }

          .chart-culture-section {
            position: relative;
            height: 100%;

            .monthPointer {
              position: absolute;
              z-index: 9999;
              background-color: #000;
              top: 95%;
              height: 9px;
              width: 1px;
              border-color: #000;
            }

            .chart-split-section {
              width: 100%;
              position: relative;
              text-align: center;

              .cultureROw {
                width: 100%;
                height: 30px;
              }
            }

            .popover__wrapper {
              position: relative;

              &:hover .popover__content {
                z-index: 1031;
                opacity: 1;
                visibility: visible;
                transform: translate(0, -20px);
                transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
              }

              .popover__title {
                background: inherit;
                width: 100%;
                height: 50%;
                line-height: 1.5;
              }

              .popover__content {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                /* left: -13px; */
                transform: translate(0, 10px);
                background-color: #fff;
                border: 1px solid #ccc;
                padding: 1.5rem;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                width: 240px;
                border-radius: 10px;

                .popover__message {
                  color: #000;
                  margin: 5px 0px;
                  border-bottom: 1px solid #ccc;
                  line-height: 1.5;
                  font-weight: bold;
                }

                p {
                  color: #000;
                  line-height: 1.5;
                  margin-bottom: 0;
                }

                &::before {
                  position: absolute;
                  z-index: -1;
                  content: "";
                  right: calc(50% - 1px);
                  top: -8px;
                  border-style: solid;
                  border-width: 0 10px 10px 10px;
                  border-color: transparent transparent #e9e9e9 transparent;
                  transition-duration: 0.3s;
                  transition-property: transform;
                  display: none;
                }
              }
            }
          }
        }
      }

      /*.field-section {
        padding: 15px;
        box-shadow: 2px 2px 4px #dedede;
        border: 1px solid #dedede;
        margin-top: 20px;

        .field-name {
          display: inline;
          font-size: $defaultFontSize;
          color: $primary-color;
          font-weight: $boldFontWeight;
          line-height: 1.1;
        }

        .field-graph {
          margin-top: 20px;
        }

        .chart-section {
          background: #efefef;
          // width: auto;
          //height: 100px;
          margin-top: 1em;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          align-items: flex-start;

          .field-monthClass {
            position: absolute;
            z-index: 9;
            top: -25%;
            font-size: $smallFontSize;
            color: $primary-color;
            line-height: 1.5;
          }

          .chart-culture-section {
            position: relative;
            height: 100%;

            .monthPointer {
              position: absolute;
              z-index: 9999;
              background-color: #000;
              top: 95%;
              height: 9px;
              width: 1px;
              border-color: #000;
            }

            .chart-split-section {
              width: 100%;
              position: relative;
              text-align: center;

              .cultureROw {
                width: 100%;
                height: 30px;
              }
            }

            .popover__wrapper {
              position: relative;

              &:hover .popover__content {
                z-index: 1031;
                opacity: 1;
                visibility: visible;
                transform: translate(0, -20px);
                transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
              }

              .popover__title {
                background: inherit;
                width: 100%;
                height: 50%;
                line-height: 1.5;
              }

              .popover__content {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                /// left: -13px; ///
                transform: translate(0, 10px);
                background-color: #fff;
                border: 1px solid #ccc;
                padding: 1.5rem;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                width: 240px;
                border-radius: 10px;

                .popover__message {
                  color: #000;
                  margin: 5px 0px;
                  border-bottom: 1px solid #ccc;
                  line-height: 1.5;
                  font-weight: bold;
                }

                p {
                  color: #000;
                  line-height: 1.5;
                  margin-bottom: 0;
                }

                &::before {
                  position: absolute;
                  z-index: -1;
                  content: "";
                  right: calc(50% - 1px);
                  top: -8px;
                  border-style: solid;
                  border-width: 0 10px 10px 10px;
                  border-color: transparent transparent #e9e9e9 transparent;
                  transition-duration: 0.3s;
                  transition-property: transform;
                  display: none;
                }
              }
            }
          }
        }
      }*/

      .edit-icon-wrapper {
        width: 28px;
        height: 28px;
        text-align: center;
        background: #db4c3f;
        border-radius: 50%;
        margin: 1px;
      }

      .info-icon-wrapper {
        width: 28px;
        height: 28px;
        text-align: center;
        background: #ffa500;
        border-radius: 50%;
        margin: 1px;
        margin-left: 5px;
      }

      .archive-icon-wrapper {
        width: 28px;
        height: 28px;
        text-align: center;
        background: #51e208;
        border-radius: 50%;
        margin: 1px;
        margin-left: 5px;
      }

      .singleViewfieldname {
        display: inline;
        font-size: 16px;
        color: #606060;
        font-weight: bold;
        line-height: 1.1;
        margin: 0 0 5px 5px;
      }

      .fieldSize {
        font-weight: normal;
      }

      .border-left {
        border-left: 1px solid #ddd;
      }

      .border-right {
        border-right: 1px solid #ddd;
      }

      .border-bottom {
        border-bottom: 1px solid #ddd;
      }

      .border-left-0 {
        border-left: none;
      }

      .border-right-0 {
        border-right: none;
      }

      .border-top-0 {
        border-top: none;
      }

      .border-bottom-0 {
        border-bottom: none;
      }

      .btn-cultur {
        padding: 6px 20px;
        width: 100%;
        margin-top: 1.7em;
        border-radius: 20px;
        font-size: $defaultFontSize;
        font-weight: $boldFontWeight;
        line-height: 1.5;
      }

      .btn-back {
        // padding: 6px 0px;
        padding: 6px 28px;
        display: flex;
        // width: 100%;
        border-radius: 20px;
        font-size: $defaultFontSize;
        font-weight: $boldFontWeight;
        line-height: 1.5;
      }

      .exportdropdown {
        left: 10px;
        min-width: 115px;
        line-height: 1.5;

        a {
          font-size: $smallFontSize;
          font-weight: $semiboldFontWeight;
          color: $primary-color;
          line-height: 1.5;
        }
      }

      .btn-search {
        width: 100%;
        border-radius: 20px;
        padding: 6px 18px;
        font-size: $defaultFontSize;
        font-weight: $boldFontWeight;
        line-height: 1.5;
      }

      .tableMonth {
        padding: 8px 0;
        text-align: center;
        display: inline-block;
        font-size: 10px;
        line-height: 1.5;
      }

      .padd-10 {
        padding: 4px 0;
        margin-top: 13px;
      }

      .cultures {
        height: 35px;
        background: none;
        width: 83.33333333%;
        margin: 1% 0;
      }

      .cultureArea {
        position: absolute;
        top: -53%;
        z-index: 9;
        color: #565353;
        line-height: 1.5;
        width: 70px;
        text-align: left;
      }

      .warningiconWrapper {
        position: absolute;
        top: 25%;
        z-index: 9;
      }

      .warningiconWrapperDetailed {
        position: absolute;
        top: 15%;
        z-index: 9;
      }
    }
  }

  .padd-25 {
    padding: 25px;
    color: #777777;
  }

  .mar-top3em {
    margin-top: 3em;
  }

  .border-top {
    border-top: 1px solid #ddd;
  }

  .footerTxt {
    font-size: $defaultFontSize;
    color: $primary-color;
    font-weight: $semiboldFontWeight;
    line-height: 1.5;
  }

  .font-20 {
    font-size: 20px;
  }

  li {
    list-style-type: none;
    display: inline-block;
    line-height: 1.5;
    margin: 0 5px;
    color: #777;
    font-size: 13px;
    cursor: pointer;
  }

  .icon {
    width: 18px;
    height: 18px;
    color: $Whitecolor;
    cursor: pointer;
    margin: 5px;
  }

  .warningicon {
    width: 18px;
    height: 16px;
    color: #000;
    cursor: pointer;
    vertical-align: middle;
  }

  .warningicongraphRefresh {
    margin-left: 25px;
    margin-top: 0px;
    position: absolute;
    z-index: 1;
  }

  .warningicongraphRefreshDetailed {
    margin-left: 25px;
    margin-top: 4px;
    position: absolute;
    z-index: 1;
  }

  .warningicongraph {
    width: 18px;
    height: 16px;
    color: #000;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    z-index: 999;
  }

  .crop-icon {
    width: 18px;
    height: 19px;
    color: $Whitecolor;
    cursor: pointer;
    vertical-align: middle;
  }

  .cropiconempty {
    fill: $primary-color;
  }

  .editicon {
    height: 16px;
    width: 18px;
  }

  .moreicon {
    //height: 50px;
    //width: 18px;
    //margin-top: 2px;
    margin-left: 2px;
  }
}

.custom-slider {
  background-color: $Whitecolor;
  color: #696969;
  padding: 10px 40px 20px 25px;
  border: 1px solid #e4e4e4;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999;
  line-height: 1.5;
}

::ng-deep {
  // .ngx-datepicker-container .ngx-datepicker-calendar-container .topbar-container svg
  // {
  //     display: none;
  // }
  .custom-slider {
    .ng5-slider {
      height: 7px;

      .ng5-slider-bar-wrapper {
        height: 75px;
        margin-top: -28px;
      }

      .ng5-slider-bar {
        background: #e6e5e5;
        height: 25px;
      }

      .ng5-slider-selection {
        background: #5bc0de;
      }

      .ng5-slider-pointer {
        width: 0px;
        height: 16px;
        top: auto;
        /* to remove the default positioning */
        bottom: 0;
        background-color: #5bc0de;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        cursor: e-resize;

        &::after {
          display: none;
        }
      }

      .ng5-slider-bubble {
        bottom: 14px;
        font-weight: $boldFontWeight;
        color: $primary-color;
      }

      .ng5-slider-limit {
        font-weight: $boldFontWeight;
        color: #5bc0de;
      }

      .ng5-slider-tick {
        width: 1px;
        height: 10px;
        margin-left: 4px;
        border-radius: 0;
        background: #989898;
        top: -1px;

        &.ng5-slider-selected {
          background: #5bc0de;
        }
      }

      .ng5-slider-inner-tooltip {
        font-size: $smallFontSize;
        color: $primary-color;
      }

      .ng5-slider-ticks-values-under {
        .ng5-slider-tick-value {
          bottom: -28px;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .custom-slider .ng5-slider .ng5-slider-ticks {
      display: none;
    }
  }

  .black-overlay {
    position: fixed;
  }

  .ngx-datepicker-container {
    .ngx-datepicker-input {
      width: 100%;
    }

    .ngx-datepicker-calendar-container {
      z-index: 9999;
    }
  }

  .popupdatepicker {
    padding: 0;

    .ngx-datepicker-container {
      .ngx-datepicker-input {
        background-color: inherit;
        border: none;
        width: 100%;
        padding: 10px 15px;
      }
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1260px) {
    .ngx-datepicker-container .ngx-datepicker-input {
      width: 100% !important;
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .ngx-datepicker-container .ngx-datepicker-input {
      width: 100% !important;
    }

    .mobile-pad {
      padding: 0px 15px;
    }
    .ui-datepicker {
      position: fixed !important;
      top: 50% !important;
      left: 50% !important;
      margin-top: -10em !important;
      margin-left: -9em !important;
    }
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1040;
}

.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    border-radius: 0px;

    .modal-header {
      border-bottom: 0px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      //height: 60px;
      height: auto;
      border-bottom: 1px solid #ddd;
      background-color: #369dc6;
      line-height: 1.1;

      .cultur-title {
        color: $Whitecolor;
        line-height: 1.1;
        text-align: center;
        font-size: $headingFontSize;
        font-weight: $boldFontWeight;
      }

      .fieldTitle {
        font-size: $headingFontSize;
        font-weight: $boldFontWeight;
        color: $Whitecolor;
        line-height: 1.1;
      }
    }

    .fieldmodalbody {
      max-height: 90vh;
      height: auto;
      overflow-y: auto;
      padding-bottom: 2em;
    }

    .culturemodalbody {
      max-height: 90vh;
      height: auto;
      overflow-y: auto;
      padding-bottom: 2em;
    }

    .modal-body {
      .mar-left1em {
        margin-left: 1.5em;
      }

      .pad-0 {
        padding: 0px;
      }

      .error {
        font-size: 88%;
        color: #dc3545;
        width: 100%;
        padding-left: 1%;
        line-height: 1.5;
      }

      .textareafield {
        display: block;
        width: 100%;
        padding: 10px 15px;
        font-size: 14px;
        color: #808080;
        background-color: #e6e6e6;
        background-image: none;
        border: 1px solid #e6e6e6;
        line-height: 1.5;
        border-radius: 20px;
        outline: none;
        user-select: none;
        box-shadow: none;
        height: 70px !important;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

        &:hover {
          color: #000;
          background: #dbd9d9;
        }

        &:focus {
          color: #000;
          background: #dbd9d9;
        }
      }

      .btn-save {
        height: 40px;
        border-radius: 20px;
        padding: 10px 55px;
        line-height: 1.5;
      }

      .btn-delete {
        height: 40px;
        border-radius: 20px;
        padding: 10px 55px;
        line-height: 1.5;
        cursor: pointer;
        margin-right: 5px;
      }

      &.new-footer {
        padding: 0px 1em 2em 1em;
      }

      .echo {
        line-height: 1.5;
      }

      .swapped {
        line-height: 1.5;
      }

      .swappedwith {
        line-height: 1.5;
      }

      .date-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
      }

      .date-from {
        width: 50%;
        padding: 0 10px 0 0;
        line-height: 1.5;
      }

      .date-to {
        width: 50%;
        padding: 0 0px 0 10px;
        line-height: 1.5;
      }

      .remainingSpace {
        padding-right: 15px;
      }

      .select {
        position: relative;
        display: inline-block;
        width: 100%;

        select {
          display: inline-block;
          width: 100%;
          cursor: pointer;
          padding: 10px 15px;
          border: 0;
          border-radius: 20px;
          background: #e6e6e6;
          color: #7b7b7b;
          line-height: 1.5;
          appearance: none;
          user-select: none;
          outline: none;

          &::-ms-expand {
            display: none;
          }

          &:hover {
            color: #000;
            background: #dbd9d9;

            ~ .select-arrow {
              border-top-color: #000;
            }
          }

          &:focus {
            color: #000;
            background: #dbd9d9;

            ~ .select-arrow {
              border-top-color: #000;
            }
          }

          &:disabled {
            opacity: 0.5;
            pointer-events: none;

            ~ .select-arrow {
              border-top-color: #ccc;
            }
          }
        }

        .select-arrow {
          position: absolute;
          top: 16px;
          right: 15px;
          width: 0;
          height: 0;
          pointer-events: none;
          border-style: solid;
          border-width: 8px 5px 0 5px;
          border-color: #7b7b7b transparent transparent transparent;
        }
      }

      .form-group {
        margin-bottom: 9px;
      }

      .popupdatepicker {
        padding: 2px 15px;
        display: block;
        width: 100%;
        height: 42px;
        font-size: $smallFontSize;
        color: #808080;
        background-color: #e6e6e6;
        background-image: none;
        border: 1px solid #e6e6e6;
        line-height: 1.5;
        border-radius: 20px;
        user-select: none;
        box-shadow: none;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

        &:hover {
          color: #000;
          background: #dbd9d9;
        }

        &:focus {
          color: #000;
          background: #dbd9d9;
        }
      }

      .form-control {
        width: 100%;
        height: 42px;
        padding: 1em;
        border-radius: 25px;
        box-shadow: none;
        background: #e6e6e6;
        outline: none;
        border: 1px solid #e6e6e6;

        // &:hover {
        //   color: #000;
        //   background: #dbd9d9;
        // }

        // &:focus {
        //   color: #000;
        //   background: #fff;
        //   outline: none;
        //   border: 1px solid #e6e6e6;
        // }
      }
    }

    .pl-15 {
      padding-left: 15px;
    }
  }
}

.exportmodal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .panel {
    border-radius: 0px;
    border: none;
    box-shadow: none;

    .panel-heading {
      color: #333;
      border-radius: 0px;
      padding: 0;
      border: 0;
      background-color: #fff;

      .panel-title {
        a {
          display: block;
          padding: 15px;
          color: $primary-color;
          font-size: $defaultFontSize;
          font-weight: $boldFontWeight;
          text-decoration: none;
          line-height: 1.5;

          .exportHeadings {
            margin-left: 15px;
            font-size: 20px;
          }

          &:active {
            display: block;
            padding: 15px;
            color: $primary-color;
            font-size: $defaultFontSize;
            font-weight: $boldFontWeight;
            text-decoration: none;
          }

          &:before {
            content: url("https://api.iconify.design/feather:chevron-down.svg?height=24");
            vertical-align: -0.45em;
            transition: all 0.5s;
          }

          &.collapsed:before {
            content: url("https://api.iconify.design/feather:chevron-up.svg?height=24");
            vertical-align: -0.45em;
            transition: all 0.5s;
          }
        }
      }

      &.active {
        a::before {
          user-select: none;
          transform: rotate(180deg);
        }
      }
    }

    .panel-collapse {
      .panel-body {
        margin-top: 5px;
        color: $secondary-color;
        font-size: $smallFontSize;
        font-weight: $semiboldFontWeight;
        line-height: 1.5;
        padding-top: 0px;
        border: none;

        .exportSubHeadings {
          font-size: 16px;
          font-weight: 600;
          padding: 15px;
          border-bottom: 1px solid #ddd;
          line-height: 1.2;
        }

        .fieldDiv {
          max-height: 135px;
          height: auto;
          overflow-y: auto;
        }

        .exportDiv {
          max-height: 361px;
          height: auto;
          overflow-y: auto;
        }

        .exportItems {
          font-size: 16px;
          font-weight: 600;
          padding: 10px 5px;

          .col-md-1,
          .col-md-4,
          .col-md-5 {
            padding: 0px 3px;
          }
        }

        .warningiconWrapper {
          .warningicon {
            width: 18px;
            height: 16px;
            color: #000;
            cursor: pointer;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .modal-content {
    border-radius: 0px;
    color: #848181;

    .modal-body {
      padding: 15px 3em;

      .btn-graphic {
        height: 40px;
        border-radius: 20px;
        line-height: 1.5;
      }

      .btn-tabular {
        height: 40px;
        border-radius: 20px;
        line-height: 1.5;
        margin-right: 3%;
      }

      .error {
        font-size: 14px;
        color: #dc3545;
        line-height: 1.5;
      }
    }

    // .date-from {
    //   width: 50%;
    //   padding: 0 10px 0 0;
    //   line-height: 1.5;
    // }

    // .date-to {
    //   width: 50%;
    //   padding: 0 0px 0 10px;
    //   line-height: 1.5;
    // }

    .date-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-start;
    }

    .form-group {
      margin-bottom: 9px;
    }

    .form-control {
      display: block;
      width: 100%;
      height: 38px;
      padding: 10px 15px;
      font-size: $smallFontSize;
      line-height: 1.42857143;
      color: #808080;
      background-color: #e6e6e6;
      background-image: none;
      border: 1px solid #e6e6e6;
      border-radius: 20px;
      line-height: 1.5;
      user-select: none;
      box-shadow: none;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

      &:hover,
      &:focus {
        color: #000;
        background: #dbd9d9;
      }

      label {
        margin-left: 4px;
        line-height: 1.5;
      }
    }
  }

  .bor-btm {
    border-bottom: 1px solid #ddd;
  }

  .popupdatepicker {
    padding: 2px 15px;
    display: block;
    width: 100%;
    height: 38px;
    font-size: $smallFontSize;
    color: #808080;
    background-color: #e6e6e6;
    background-image: none;
    border: 1px solid #e6e6e6;
    line-height: 1.5;
    border-radius: 20px;
    user-select: none;
    box-shadow: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    &:hover {
      color: #000;
      background: #dbd9d9;
    }

    &:focus {
      color: #000;
      background: #dbd9d9;
    }

    .ngx-datepicker-container {
      .ngx-datepicker-input {
        background-color: inherit;
        border: none;
        width: 100%;
        padding: 10px 15px;
      }
    }
  }
}

.scaleIn {
  user-select: none;
  animation-name: scaleIn;
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    user-select: none;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    user-select: none;
    transform: scale(1);
  }
}

@media only screen and (max-width: 600px) {
  .chart-section {
    height: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .modal .modal-content .modal-body .date-from {
    width: 100%;
    padding: 0px;
    line-height: 1.5;
  }

  .modal .modal-content .modal-body .form-control {
    width: 100% !important;
  }

  .modal .modal-content .modal-body .date-to {
    width: 100%;
    padding: 0px;
    line-height: 1.5;
  }
  .modal .modal-content .modal-header .cultur-title {
    font-size: 20px;
  }

  .overview-section .panel .panel-body .fullVIew .field-section .field-graph {
    max-width: 1000px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .overview-section .panel .panel-body .fullVIew .field-section .chart-section {
    width: 275%;
    height: auto;
  }

  .mobile_field {
    margin-bottom: 33px;
  }

  .field-section {
    margin-top: 2em;
  }

  .singleView .field-section {
    margin-top: 19em;
  }

  .singleView .field-section {
    margin-top: 9em;
    max-width: 1000px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .singleView .field-graph {
    width: 275%;
  }
  .ngx-datepicker-container .ngx-datepicker-input {
    width: 100%;
  }

  .panel-body ul {
    padding-left: 3px;
  }

  .fullVIew .field-section {
    margin-top: 1.3em;
  }

  .overview-section .panel .panel-body .cropdrop {
    margin: 10px 0px;
  }

  .overview-section .panel .panel-body .container-checkbox .checkmark {
    left: -2px;
  }

  .mobile_pad {
    padding: 0px;
  }

  .overview-section .panel .panel-body .container-checkbox {
    padding-left: 20px;
  }

  .mobile_field {
    margin-bottom: 33px;
  }

  .overview-section .panel .panel-body .field-section .chart-section {
    margin-top: 2em;
  }

  .overview-section .panel .panel-body .crop-dropdown {
    width: 100%;
    left: 0px;
    min-height: 130px;
    overflow-y: scroll;
  }

  .overview-section .panel .panel-body .crop-dropdown li {
    padding: 5px;
    display: block;
  }

  .upper_sec {
    margin-bottom: 1em;
  }
  .overview-section .panel .panel-body .field-section .field-graph {
    margin-top: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .panel-body ul {
    padding-left: 3px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 350px) {
  .modal .modal-content .modal-body .btn-tabular {
    margin-right: 1px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .overview-section .panel .panel-body .btn-back {
    margin-top: 0;
  }

  .overview-section .panel .panel-body .btn-search {
    margin-top: 23px;
  }

  .singleView .field-section {
    margin-top: 2em;
    max-width: 1000px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .overview-section .panel .panel-body .singleViewfieldname {
    margin-top: 11px;
    position: absolute;
  }

  .singleView .field-graph {
    width: 275%;
  }

  .mar_section_laptop {
    margin-top: 1em;
  }

  .ngx-datepicker-container .ngx-datepicker-input {
    width: 100%;
  }

  .overview-section .panel .panel-body .btn-back {
    width: 100%;
    display: none;
  }

  .overview-section .panel .panel-body .field-section .field-graph {
    margin-top: 44px;
  }

  .backbutton_icon {
    display: none;
  }

  .overview-section .back_icon {
    color: #ffffff;
    width: 30px;
    background: #5bc0de;
    height: 30px;
    border-radius: 50%;
  }

  .fullVIew .field-section {
    margin-top: 1.5em;
  }

  .p0 {
    padding: 0px;
  }

  .top-boxes .bar-section .sizeperHead {
    min-height: 50px;
  }

  .culture-btn-ipad {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .overview-section .panel .panel-body .culture-btn-ipad .btn-cultur {
    width: 30%;
  }
}

.mobile_export {
  display: none;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .overview-section .panel .panel-body .btn-back {
    margin-top: 0;
  }

  .overview-section .panel .panel-body .btn-search {
    margin-top: 2px;
  }

  .overview-section .panel .panel-body .btn-cultur {
    padding: 6px;
    font-size: 14px;
  }

  .singleView .field-section {
    margin-top: 2em;
    max-width: 1000px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .singleView .field-graph {
    width: 275%;
  }

  .mar_section_laptop {
    margin-top: 1em;
  }

  .ngx-datepicker-container .ngx-datepicker-input {
    width: 100%;
    border: none;
  }

  .back_icon {
    display: none;
  }

  .overview-section .back_icon {
    color: #606060;
    margin-top: 28px;
    font-weight: bold;
    width: 30px;
  }

  .overview-section .panel .panel-body .padd-10 {
    margin-top: 29px;
  }

  // .overview-section .panel .panel-body .singleView .mar-bottom1em {
  //   margin-bottom: 13.3em;
  // }

  .mobile_export {
    display: block;
  }

  .laptop_export {
    display: none;
  }

  .from_mobile {
    margin-top: 1em;
  }

  .top-boxes .bar-section .right-bar .cropdropdown .crop-dropdown {
    width: 94%;
  }

  .top-boxes .bar-section .sizeperHead {
    min-height: 100px;
  }
  .modal.modal-content.modal-body.form-control {
    caret-color: transparent;
  }

  .overview-section
    .panel
    .panel-body
    .field-section
    .chart-section
    .chart-culture-section
    .popover__wrapper:hover
    .popover__content {
    position: fixed;
    top: 90px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 0);
    height: auto;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1024px) {
  .overview-section .panel .panel-body .btn-cultur {
    padding: 6px;
    font-size: 14px;
  }
}

.overview-section .panel .panel-body .singleView .field-section .chart-section {
  height: auto;
}
.suggestionContent {
  text-align: center;
}
.suggestionContent h4 {
  line-height: 30px;
}

.warningPerioEndModelhead {
  background-color: #6dca6d;
  height: auto;
  border-bottom: 0px;
  padding: 25px;
  text-align: center;
  h4 {
    color: #fff;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    font-weight: 600;
  }
  .btn-success {
    color: #ffffff;
    background-color: #9ed89e;
    border-color: #6dca6d;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    padding: 8px 37px;
  }
}

.alertPerioEndModelhead {
  background-color: #d43f3a;
  height: auto;
  border-bottom: 0px;
  padding: 25px;
  hr {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #f16560;
  }
  h3 {
    display: inline;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
  }
  h4 {
    color: #fff;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    font-weight: 600;
    line-height: 32px;
  }
  .btn-upgrade {
    color: #ffffff;
    background-color: #ef4f4a;
    border-color: #ef4f4a;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    padding: 8px 37px;
  }
}

.pendingModelHead {
  margin: 0px;
  color: #fff;
}

.margin-right-archive-icon {
  margin-right: 15px;
}

.suggestionContent {
  h4 {
    color: #606060;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    font-weight: 600;
  }
  .btn-success {
    color: #fff;
    background-color: #6dca6d;
    border-color: #6dca6d;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    padding: 8px 37px;
  }
}

.p4 {
  padding: 4px;
}

body.modal-open {
  overflow: hidden;
}

.input-min-width-95p {
  min-width: 100%;
  -webkit-appearance: none;
  line-height: normal;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  min-width: 100%;
  -webkit-appearance: none;
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  height: 42px;
  border-radius: 25px;
  padding: 1em;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  float: right;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//// master model ////

.btn-masters {
  background: #5bc0de;
  border: 1px solid #5bc0de;
  color: #fff;
  text-align: center;
  border-radius: 25px;
}

.modal-body#modalBody {
  padding: 0px 25px 15px;
  .nav-tabs {
    margin-left: -10px;
    li {
      a {
        color: #6b6b6b;
        font-size: 17px;
      }
    }
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    color: #6b6b6b;
    font-size: 19px;
    font-weight: 600;
    border-bottom: 2px solid #4a9fd6;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    display: inline-block;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin: 7px 0 0;
  }

  .tab-content {
    margin: 11px 0px;
  }
  label {
    color: #6b6b6b;
  }
  .form-control {
    border: 1px solid #afafaf;
    border-radius: 20px;
    padding: 3px 6px;
    background: #e6e6e6;
    height: 34px;
  }
  .amt-field {
    width: 35%;
    display: inline;
  }
  .amt-select {
    width: 62%;
    margin: 0px 0px 0px 6px;
    display: inline;
  }
  .mttab {
    margin-top: 1em;
  }

  .panel {
    border: 1px solid #fff;
    .panel-heading {
      background: #ffffff;
      border-radius: 0px;
      border-color: #ffffff;
      padding: 0px;
      .btn-masters {
        background: #5bc0de;
        border: 1px solid #5bc0de;
        color: #fff;
        text-align: center;
        border-radius: 25px;
      }
    }
    .panel-body {
      border-radius: 0px;
      background: #ffffff;
      padding: 0px 0px 15px;

      .btn-masters {
        background: #5bc0de;
        border: 1px solid #5bc0de;
        color: #fff;
        text-align: center;
        border-radius: 25px;
        width: 100%;
      }
      h4 {
        font-size: 15px;
        color: #848788;
        margin-bottom: 11px;
        font-weight: 600;
      }
      .bor-btm {
        border-bottom: 1px solid #dee7ea;
        .row {
          margin: 0px;
        }
      }
      .row-btm {
        .row {
          margin: 0px;
        }
      }
      .edit-icon-wrapper {
        .icon {
          width: 18px;
          color: #626363;
          margin: 7px 10px 6px 4px;
          cursor: pointer;
        }
      }
    }
  }
  .panel-heading {
    background: #f1fbfe;
    border-radius: 50px 50px 0px 0px;
    border-color: #f1fbfe;
    .panel-title {
      font-weight: 600;
      color: #6c6d6d;
      font-size: 18px;
      span {
        margin-top: 2px;
        position: absolute;
        margin-left: 5px;
      }
    }
  }
}

.p0 {
  padding: 0px;
}

.col-padding {
  padding: 0px 3px;
}

.wid-100 {
  width: 100%;
}

.mobile-label {
  display: none;
}

.panel-heading .panel-title a.collapsed .down,
.panel-heading .panel-title .up {
  display: none;
}

.panel-heading .panel-title a.collapsed .up,
.panel-heading .panel-title .down {
  display: inline-block;
}

#masterModalHeading {
  font-size: 18px;
  font-weight: 600;
}

.red {
  border: solid 1px red;
}

.tooltipinfo {
  margin-left: 1%;
  //position: relative;
  //display: block;
  //border-bottom: 1px dotted black;
}

.tooltipinfo .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: white;
  //color: #606060;;
  //text-align: center;
  border-radius: 10px;
  font-size: $smallFontSize;
  position: absolute;
  //margin-left: 1%;
  opacity: 1;
  z-index: 1031;
  font-weight: 400;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transform: translate(0, 10px);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1.5rem;
}
.tooltip_text {
  color: #606060;
  margin: 5px 0px;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
  font-weight: bold;
}
.tooltip_content {
  color: #606060;
  line-height: 1.5;
  margin-bottom: 0;
}
.tooltipinfo:hover .tooltiptext {
  visibility: visible;
}

.mt7 {
  margin-top: 7%;
}

.placeholderCls {
  padding: 0em;
  padding-left: 1em;
  font-family: Source Sans Pro;
  font-size: 14px;
}

.mt10 {
  margin-top: 1em;
}

//// multiselect ///
.multiselectDropdown {
  height: auto;
  padding: 0px 11px;
  ///border-bottom: #ccc;
}
.multiselectDropdown .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left),
.e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap,
.e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap,
.e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap,
.e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap {
  //border-color: rgb(230, 230, 230);
  border-color: #ccc;
  border-bottom: 0px;
}

.multiselectDropdown .e-input-group:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left) {
  border-bottom: 0px;
}

.multiselectDropdown .e-input-group:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
  //background: #e3165b;
  border-bottom: 0px;
  background: inherit;
}

.multiselectDropdown .e-input-group,
.e-input-group.e-control-wrapper {
  margin-bottom: 0px;
}
.example_lable {
  color: white;
  padding: 5px;
  background-color: #2196f3;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  left: -50px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-50deg); /* IE 9 */
  -webkit-transform: rotate(-50deg); /* Safari 3-8 */
  transform: rotate(-50deg);
  margin-left: 5.5%;
  border-radius: 9px;
}

.label {
  color: white;
  padding: 8px;
}

.success {
  background-color: #4caf50;
} /* Green */
.info {
  background-color: #2196f3;
} /* Blue */
.warning {
  background-color: #ff9800;
} /* Orange */
.danger {
  background-color: #f44336;
} /* Red */
.other {
  background-color: #e7e7e7;
  color: black;
} /* Gray */

.line {
  transform: rotate(140deg);
  display: block;
  overflow: hidden;
  border-style: inset;
}
.striped-border {
  border: 1px solid white;
  //width: 50%;
  //margin: auto;
  //margin-top: 5%;
  //margin-bottom: 5%;
}

.horizontal_line {
  border: 1.8px solid white;
  transform: rotate(90deg);
}

.gradient_color {
  background: rgb(121,9,9);
background: linear-gradient(180deg, rgba(121,9,9,1) 0%, rgba(0,36,33,1) 52%, rgba(0,212,255,1) 100%);
}

.hatched_area{
  opacity:60%;
}