@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../src/assets/css/animate.min.css";
@import "../src/assets/css/css.css";
@import "../src/assets/css/custom.css";
@import "../src/assets/css/jquery-ui.css";

/* You can add global styles to this file, and also import other style files */
$bodycolor: #bae8f8;
$primary-color: #606060;
$secondary-color: #afafaf;
$defaultFontSize: 16px;
$headingFontSize: 26px;
$semiboldFontWeight: 500;
$boldFontWeight: bold;
$bodyMaxWidth: 1450px;
$bodyWidth: 80vw;

body {
  font-family: "Source Sans Pro", sans-serif;
  background: $bodycolor;
  outline: 0px;
}

// width
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

// Track
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ccc;
}

// Handle
::-webkit-scrollbar-thumb {
  background: #ccc;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.pagetitle {
  color: $primary-color;
  font-size: $headingFontSize;
  font-weight: $boldFontWeight;
  line-height: 1.1;
}

label {
  color: $secondary-color;
  font-weight: $semiboldFontWeight;
  padding: 0;
  font-size: $defaultFontSize;
  font-weight: $boldFontWeight;
  line-height: 1.5;
}

.container {
  max-width: $bodyMaxWidth;
  width: $bodyWidth;
  margin: 0px auto;
}

.pad_0 {
  padding: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

// .modal-dialog {
//   overflow-y: initial;
// }

.modal-body {
  max-height: 90vh;
  overflow-y: auto;
  padding-bottom: 2em;
  overflow-x: hidden;
}

// body.modal-open {
//   position: fixed;
// }

// input {
//   box-shadow: 0px;
//   appearance: none;
//   outline: none;
// }

.bottom_set { 
  bottom: -20px;
  position: absolute;
}

// input[type="text"] {
//   user-select: text;
// }

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 20px;
  cursor: pointer;
  line-height: 1.5;
  font-size: $defaultFontSize;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      ~ .checkmark {
        background-color: #2196f3;

        &::after {
          display: block;
          top: 2px;
        }
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 16%;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #73b680;
    line-height: 1.5;
    &::after {
      content: "";
      position: absolute;
      display: none;
    }
    &::after {
      left: 6px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      user-select: none;
      transform: rotate(45deg);
    }
  }
}

@media only screen and (max-width: 650px) {
  .navbar-toggle {
    margin-top: 14px;
  }
  #content {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .modal .modal-content .modal-body {
    padding: 15px 0.5em;
  }
  .container {
    width: 100vw;
    padding: 3px;
  }
  .navbar.navbar-default .headercontent {
    width: 94vw;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  #content {
    width: 100%;
  }
  .container {
    width: 93vw;
  }
  .navbar.navbar-default .headercontent {
    width: 92vw;
  }
}

.bottom_set {
  bottom: -20px;
  position: absolute;
}
.padding-zero {
  padding: 0px;
}

// loader css
.loading {
  position: fixed;
  z-index: 99999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  box-shadow: rgb(91, 192, 222) 1.5em 0 0 0, rgb(91, 192, 222) 1.1em 1.1em 0 0, rgb(91, 192, 222) 0 1.5em 0 0,
    rgb(91, 192, 222) -1.1em 1.1em 0 0, rgb(91, 192, 222) -1.5em 0 0 0, rgb(91, 192, 222) -1.1em -1.1em 0 0,
    rgb(91, 192, 222) 0 -1.5em 0 0, rgb(91, 192, 222) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// loader css

// common popup css

.popup-effect {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  .popup {
    background: #fff;
    border-radius: 4px;
    max-width: 500px;
    position: relative;
    margin: 2.5em auto;
    padding: 3em 0em;
    z-index: 999;
    max-height: 90vh;
    height: auto;
    overflow-y: auto;
    .common-popup {
      form {
        padding: 1em;
        margin-top: 1.5em;
      }
      .pl-15 {
        padding-left: 15px;
      }
      h4 {
        margin-top: -70px;
        background-color: #369dc6;
        padding: 1em;
        color: #fff;
        line-height: 1.1;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        position: fixed;
        width: 499px;
        z-index: 9;
      }

      .btn-save {
        height: 40px;
        border-radius: 20px;
        width: 20%;
        line-height: 1.5;
      }

      .btn-delete {
        height: 40px;
        border-radius: 20px;
        width: 20%;
        line-height: 1.5;
        cursor: pointer;
        margin-right: 5px;
      }

      .date-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
      }

      .date-from {
        width: 50%;
        padding: 0 10px 0 0;
        line-height: 1.5;
      }

      .date-to {
        width: 50%;
        padding: 0 0px 0 10px;
        line-height: 1.5;
      }

      .remainingSpace {
        padding-right: 15px;
      }

      .select {
        position: relative;
        display: inline-block;
        width: 100%;

        select {
          display: inline-block;
          width: 100%;
          cursor: pointer;
          padding: 10px 15px;
          border: 0;
          border-radius: 20px;
          background: #e6e6e6;
          color: #7b7b7b;
          line-height: 1.5;
          appearance: none;
          user-select: none;
          outline: none;

          &::-ms-expand {
            display: none;
          }

          &:hover {
            color: #000;
            background: #dbd9d9;

            ~ .select-arrow {
              border-top-color: #000;
            }
          }

          &:focus {
            color: #000;
            background: #dbd9d9;

            ~ .select-arrow {
              border-top-color: #000;
            }
          }

          &:disabled {
            opacity: 0.5;
            pointer-events: none;

            ~ .select-arrow {
              border-top-color: #ccc;
            }
          }
        }

        .select-arrow {
          position: absolute;
          top: 16px;
          right: 15px;
          width: 0;
          height: 0;
          pointer-events: none;
          border-style: solid;
          border-width: 8px 5px 0 5px;
          border-color: #7b7b7b transparent transparent transparent;
        }
      }

      .form-group {
        margin-bottom: 9px;
      }

      .popupdatepicker {
        padding: 2px 15px;
        display: block;
        width: 100%;
        height: 38px;
        // font-size: $smallFontSize;
        color: #808080;
        background-color: #e6e6e6;
        background-image: none;
        border: 1px solid #e6e6e6;
        line-height: 1.5;
        border-radius: 20px;
        user-select: none;
        box-shadow: none;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

        &:hover {
          color: #000;
          background: #dbd9d9;
        }

        &:focus {
          color: #000;
          background: #dbd9d9;
        }
      }

      .form-control {
        display: block;
        width: 100%;
        height: 38px;
        padding: 10px 15px;
        // font-size: $smallFontSize;
        color: #808080;
        background-color: #e6e6e6;
        background-image: none;
        border: 1px solid #e6e6e6;
        line-height: 1.5;
        border-radius: 20px;
        user-select: none;
        box-shadow: none;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

        &:hover {
          color: #000;
          background: #dbd9d9;
        }

        &:focus {
          color: #000;
          background: #dbd9d9;
        }
      }

      .textareafield {
        display: block;
        width: 100%;
        padding: 10px 15px;
        font-size: 14px;
        color: #808080;
        background-color: #e6e6e6;
        background-image: none;
        border: 1px solid #e6e6e6;
        line-height: 1.5;
        border-radius: 20px;
        outline: none;
        user-select: none;
        box-shadow: none;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

        &:hover {
          color: #000;
          background: #dbd9d9;
        }

        &:focus {
          color: #000;
          background: #dbd9d9;
        }
      }
    }
    .close {
      position: absolute;
      top: 10px;
      right: 15px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #000;
      z-index: 9999;
    }
  }
}

.popup-effect:target {
  visibility: visible;
  opacity: 1;
}

.popup .popup iframe {
  width: 100%;
  height: 250px;
  border: none;
}

// common popup
