<div class="container-fluid overview-section">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default" id="pdfHtml">

      <div class="panel-body">
        <div *ngIf="dashboardData$">
          
          <div *ngFor="let fields of dashboardData$; let index = index">
            <div class="col-md-12 mar-bottom1em ">
              <div class="col-md-12">
                <div class="col-md-12 field-section">
                  <div class="col-md-12 pad-0 mobile_field">
                    <h6 class="field-name">{{ fields.field_name | titlecase }} <span class="fieldSize">{{ ' (' + fields.field_size + 'a)' }}</span></h6>
                  </div>
                  <div class="col-md-12 pad-0 field-graph">
                    
                    <div class="chart-section" [ngStyle]="getChartFieldDivHeight(fields.max_culture_count)">
                      <div class="chart-culture-section" *ngFor="let columns of fieldCultures$[fields.field_id]; let columnindex = index;" [style.width.%]="1/2556*100">
                        
                        <!-- <span class="field-monthClass" *ngIf="checkShowMonthOnField(columnindex)"><span class="border-left monthPointer"></span>{{ fullViewMonthShow }}</span> -->
                        <div class="chart-split-section" *ngFor="let rows of columns; let rowsLast = last;" [style.background-color]="rows.color">
                          <span *ngIf="((rows.start_date_index + math.round(rows.duration/3) == columnindex) && (rows.rule_breaked == 1))" class="warningiconWrapper" title="Crop Rotation Rules are Breaked!"><i-alert-triangle class="warningicon"></i-alert-triangle></span>
                          <span *ngIf="((rows.start_date_index == columnindex) && (rows.is_swapped == '1'))" class="warningiconWrapper" title="culture is swapped!"><i-refresh-cw class="warningicon"></i-refresh-cw></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="(dashboardData$ == '')" class="col-md-12 padd-25">
            <p class="font-20 text-center" translate>No Field is present to show. Please Add Field First.</p>              
        </div>
      </div>      
    </div>
  </div>
</div>

<!-- <ngx-spinner type="ball-clip-rotate"></ngx-spinner> -->
<div *ngIf="isLoading" class="loading">Loading&#8230;</div>
